
::-webkit-scrollbar{width:8px;height:4px}
::-webkit-scrollbar-button{width:8px;height:0}
::-webkit-scrollbar-track{background:0 0}
::-webkit-scrollbar-thumb{background:#cfd6d6;-webkit-transition:.3s;transition:.3s;border-radius: 5px;}
::-webkit-scrollbar-thumb:hover{background-color:#c0bebe}
::-webkit-scrollbar-thumb:active{background-color:#c0bebe}
body{
  font-size: 16px;
}

.md-comtaniner{
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  position: relative;
}

.le-note-toolbar{
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: left;
  padding-left: 5px;
  border: 1px solid #ddd;
}

.le-note-tools{
  padding: 0;
  margin: 0;
  list-style: none;
}

.le-note-tools > li{
  margin: 0;
  padding: 5px 1px;
  display: inline-block;
  position: relative;
}

.le-note-tools > li.divider {
  display: inline-block;
  text-indent: -9999px;
  margin: 0 5px;
  height: 65%;
  border-right: 1px solid #ddd;
}

.le-note-tools > li > a {
  outline: 0;
  color: #666;
  display: inline-block;
  min-width: 24px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #fff;
  transition: all 300ms ease-out;
}

.le-note-tools>li+li>a {
  margin-left: -3px;
}

.le-note-tools > li > a:hover{
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eee;
}

.le-note-tools > li > a:hover, .le-note-tools > li > a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}

.le-note-tools .fa{
  text-align: center;
  display: block;
  padding: 5px;
}

.le-note-tools .tools-bold{
  padding: 5px 2px;
  display: inline-block;
  font-weight: 700;
}

/* 主体 */

.le-note-container{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  zoom: 1;
}

.le-note-container > div{
  margin: 0;
  padding: 0;
  display: block;
  width: 50%;
  position: absolute;
  left: 0;
}

.le-note-container .le-note-right{
  text-align: left;
  left: 50%;
  margin-left: 6px;
}

#my-textarea{
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.markdown-body{
  width: 100%;
  height: 600px;
  border: 1px solid #999;
  overflow: auto;
}

